.nav-item{

        font-size:14px;
        text-transform:uppercase;



}
.dropdown-item{

        font-size:14px;
        text-transform:uppercase;
}
.my_footer{
        background-color:grey;
        height:30px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;


}
.my_footer p{
            padding-top:2-px;
            font-size:14px;

}

/**category page**/

.my_row_class{
            padding-top:15px;
}
.my_row_class .mx-auto{
                color:#000000;
                font-size:12px;
}

.my-title{
        font-size:14px;
        text-transform:uppercase;

}
.my_image_padding{
        padding:15px;

}
.card-img-top
my_image{
                height:300px
}
.my_bottom_margin{
            margin-bottom:10px;
}
.card-body{

        text-transform:uppercase;

}
.card-img-top {

        width:45%;
        border-radius:50px;
}

.my_prod_row_class {

            padding-top:15px;
            padding-bottom:20px;

}
.my_prod_row_class .mx_auto{
                color:#000;
                font-size:12px;
                text-decoration:none;
}
.my_product_title{
            font-size:16px:
            text-transform:uppercase;
            letter-spacing:.2em;
            padding-top:5px;
            padding-bottom:10px;

}

.my_pro_text{
            padding-right:20px;


}

.my_search_text{
        padding-top:20px;

}
/**cart page**/

.my_custom_table{
        min-width:400px;
        font-size:14px;
}

.my_custom_thead{
            font-weight:normal;
            text-transform=uppercase;
            letter-spacing=.2em;
            background-color=#f8f8f8!important;

}
.custom_a{
            text-decoration:none;
            text-align:left;

}
.custom_icon{
               text-decoration:none;
               color:#868E96 ! important;
}
.my_custom_button{
            margin-top:5px;

}
